
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body  {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(157,255,0,1) 0%, rgba(208,208,208,1) 0%, rgba(93,76,171,1) 0%);
min-height: 100vh;
text-align: center;
font-family: "Montserrat", sans-serif;

}

h1 {
    font-family: 'Nabla', cursive;
 
    margin-top: 100px;
    font-size: 10em;
    
}

.result-text {
    font-family: 'Nabla', cursive;
    font-size: 2em;
}